body {
  margin: 0;
  padding: 64px;
  background: #ebeff5;
}

.container {
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
}
.hr {
  padding: 0 !important;
  width: 100%;
}
.gallery-text {
  margin-left: 36px;
}

.select-delete-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
}
.upper-container .upper-text-container .delete-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}

.upper-container h4 {
  color: rgb(214, 36, 36);
  cursor: pointer;
  margin-right: 47px;
}
.lower-container {
  margin: 20px;
  padding: 16px;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
}

.gridItem-image {
  padding: 10px;
  cursor: -webkit-grab;
  /* pointer-events: none; */
}

.popup {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  transition: opacity 0.3s;
  opacity: 1;
}

.checkbox-label {
  position: relative;
  display: inline-block;
}

.checkbox {
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 1;
  transform: scale(1.5);
  display: none;
}
.selected-image .checkbox {
  display: block;
}

.image-container:hover .checkbox {
  display: block;
}

.upper-checkbox {
  transform: scale(1.5);
}

.img-label {
  max-width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  pointer-events: none;
}

.img-label:hover {
  filter: brightness(0.6);
}

.gridItem-image.selected-image img:hover {
  filter: brightness(1);
}

.gridItem-image:not(.selected-image) img {
  transition: filter 0.3s;
}

.gridItem-image:not(.selected-image):hover img {
  filter: brightness(0.6);
}

.image-container {
  cursor: -webkit-grab;
}

.selected-image img {
  opacity: 0.5;
}
.selected-image:hover img {
  filter: brightness(1);
}
