body {
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  box-sizing: border-box;
}

.selected {
  border: 2px solid red;
  opacity: 0.6;
}

.upper-container {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-container h4 {
  color: rgb(214, 36, 36);
  cursor: pointer;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

/* Style the checkbox */
.image-container input[type="checkbox"] {
  position: absolute;
  top: 5px; /* Adjust the top position as needed */
  left: 5px; /* Adjust the left position as needed */
  z-index: 1; /* Place it on top of the image */
  transform: scale(1.5); /* Increase the size of the checkbox */
  cursor: pointer; /* Add pointer cursor to the checkbox */
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid gray;
}

.img-container li {
  padding-bottom: 10%;
  position: relative;
}

.img-container li:hover {
  opacity: 0.4;
}

/* Show the checkbox when input is checked */
.image-container input[type="checkbox"]:checked {
  display: block;
}

/* Hide the checkbox by default */
.image-container input[type="checkbox"] {
  display: none;
}

/* Show the checkbox when hovering over the image container */
.image-container:hover input[type="checkbox"] {
  display: block;
}
