body {
  margin: 0;
  padding: 64px;
  background: #ebeff5;
}

.container {
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
}
.hr {
  padding: 0 !important;
  width: 100%;
}
.gallery-text {
  margin-left: 36px;
}

.select-delete-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
}
/* .selected {
  opacity: 0.5;
  filter: brightness(1) !important;
} */

.upper-container .upper-text-container .delete-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}

.upper-container h4 {
  color: rgb(214, 36, 36);
  cursor: pointer;
}
.lower-container {
  margin: 20px;
  padding: 16px;
}

.gridItem-image {
  cursor: "-webkit-grab";
  padding: 10px;
}

.popup {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
  transition: opacity 0.3s;
  opacity: 1;
}

.checkbox-label {
  position: relative;
  display: inline-block;
}

.checkbox {
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 1;
  transform: scale(1.5);
}

.upper-checkbox {
  transform: scale(1.5);
}

.img-label {
  max-width: 100%;
  border: 1px solid black;
}

.image-container {
  border-radius: 1px solid red;
}
.image-container img:hover {
  filter: brightness(0.6);
}
.selected-image img {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .img-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .img-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
